snippet pr
  print($1)

snippet ready
  func _ready() -> void:
  \t${1:pass}

snippet init
  func _init() -> void:
  \t${1:pass}

snippet process
  func _process(delta: float) -> void:
  \t${1:pass}

snippet draw
  func _draw():
  \t${1:pass}
